.headerPrincipal{
    background-color: #CAC4F7;
    padding: 20px 70px;
    
}

.containerPrincipal{    
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    
   
}

.logo-header{
    width: 100px;
    height: 100px;
    padding:   0px 20px 0px 0px;
}

.headerPrincipal-titulo{
    margin-left: 7px;
    font-weight: bolder;
    font-size: 24px;
    
}

.headerPrincipal-link{
    text-decoration: none;
    color:#320557;
    font-weight: 700px;
    font-size: 30px;
}

.headerPrincipal-nav{
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.headerPrincipal-nav-link{
    text-decoration: none;
    color: #320557;
    width: auto;
    margin: 0 0 0 50px;
    font-size: 20px;
}


.containerBanner{
    height: 500px;
    width: 100%;
    background-image: url(img/home/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.banner{
    width: 100vw;
}

.h2Banner{
    font-weight: bolder;
    color: #320557;
    font-size: 45px;
    text-align: center;
    padding: 15px;

}

.h2span{
    color: #320557;
    font-weight: 900px;
}

/* Termina Header*/

/*Empieza Seccion 1*/
.containerCentral{
    width: 90%;
    text-align: center;
    margin: 34px;

}

.h2SecCentral{
    font-weight: bold;
    font-size: 36px;
    padding: 10px;
    margin-top: 20px;

}

.containerImgCentral{
    display: flex;
    justify-content: space-around;
    margin: 35px;

}

.imgCentral{
    width: 300px;

}

.botonCentral{
    background-color: #320557;
    color: white;
    width: 150px;
    height: 45px;

}

/*Termina Seccion 1*/


/*Empieza Footer*/

.footerPrincipal{
    background-color: #CAC4F7;

}

.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}

.containerfooterNav{

}

.navFooter{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0px

}

.footer-nav-link{
    text-decoration: none;
    color:#320557;
    padding: 5px 5px 5px 0px;
    font-size: large;

}

.containerRedes{
    text-align: center;

}

.h2footer{
    font-weight: bold;
    font-size: x-large

}

.containerIconos{
    padding: 10px;

}

.iconoRedes{

}

.imgRedes{
    width: 25px;
    padding: 10px;
}

.containerLogoFooter{
    display: flex;
    text-align: inherit;
    align-items: center;

}

.imglogoft{
    width: 90px;
    height: 90px;
    padding: 5px;
}

.containerLogoTxt{

}


.h3footer{
    padding: 5px 5px 5px 0px ;

}